/* Template:Ruby  */

rb[data-id='template-ruby']::before {
    content: '';
}

rb[data-id='template-ruby']::before,
.template-ruby-hidden {
    display: inline-block;
    width: 0;
    font-size: 0;
}
