// 深色模式
@mixin dark {
    @at-root {
        :root.skin-theme-clientpref-night {
            @content;
        }
    }
    @media (prefers-color-scheme: dark) {
        @at-root {
            :root.skin-theme-clientpref-os {
                @content;
            }
        }
    }
}

// 侧边栏按钮图标
@mixin portlet-icon($id, $image-url, $extra: ()) {
    ##{$id} a::before {
        content: '';
        --image: url("#{$image-url}");
        @each $prop, $val in $extra {
            #{$prop}: #{$val};
        }
    }
}

.mw-portlet a:not(:has(.citizen-ui-icon))::before {
    display: block;
    width: var(--size-icon);
    min-width: var(--size-icon);
    height: var(--size-icon);
    min-height: var(--size-icon);
    background-color: currentcolor;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    mask-image: var(--image);
}
